<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="../style/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../style/bootstrap-material-design.min.css">
  	<link rel="stylesheet" type="text/css" href="../style/ripples.min.css">
	<link rel="stylesheet" href="../style/style_reg.css">
	<script src="../scripts/jquery-1.11.3.js"></script>	
</head>
<body>
	<h2 class="text-center">Thanks for filling the form</h2>
</body>
</html>